<div class="container-fluid">
    <h1>OE-NIK HELLO ANGULAR WORLD!</h1>
    
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a routerLink="miles" class="nav-link" href="#">KM converter</a>
                </li>
                <li class="nav-item">
                    <a routerLink="todo" class="nav-link" href="#">Todo manager</a>
                </li>
            </ul>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>
