
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/Home/Setup">Csinálj számokat!</a>
    <a href="/Home/NewTodo">Csinálj listát!</a>
</body>
</html>
