<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewTodo</title>
</head>
<body>
    <h1>Adj meg egy új tennivalót!</h1>
    <form method="post" action="/Home/AddTodo">
        <label>Név</label>
        <input type="text" name="todoname" />
        <input type="submit" value="küld" />
    </form>
</body>
</html>
