<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Setup</title>
</head>
<body>
    <h1>Add meg a random szám határait!</h1>
    <form method="post" action="/Home/Random">
        <label>Minimum</label>
        <input type="text" name="min" />

        <label>Maximum</label>
        <input type="text" name="max" />

        <input type="submit" value="Küldés" />
    </form>
</body>
</html>
