<h2>Manage todos</h2>

<form>
    <div class="form-group">
      <label style="font-size: 1.4em;">Todo name</label>
      <input class="form-control" type="text" #todoname/>
    </div>
    <div class="form-group">
      <label style="font-size: 1.4em;">Todo time</label>
      <input class="form-control" type="text" #todotime/>
    </div>
</form>
<button class="btn-primary" (click)="add(todoname, todotime)">Add Todo!</button>
<br/><br/>
<span class="todoItem" [ngStyle]="{'background-color': item.Color}" *ngFor="let item of Todos">
  {{item.TodoName}} - {{item.TodoTime}}
</span>